{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <tr>
            <th>Login</th>
            <th>Mot de passe</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.login }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.getDateOfBirth() ? user.dateOfBirth | date('d/m/Y') : 'Non fournie'}}</td>
            <td>{{ user.getIsAdmin() ? 'Administrateur' : user.getIsSuperAdmin() ? 'Super-Administrateur' : 'Client' }}</td>
            {% if not (user.isSuperAdmin or currentUser.id == user.id) %}
                <td>
                    <a class="btn btn-success" href="{{ path('user_delete', {'id': user.id }) }}">Supprimer</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ path("menu") }}" >Menu principal</a></p>
{% endblock %}
