{% extends 'site.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block content %}
    <h2>Magasin</h2>
    <form method="post" action="{{ path("panier_ajout") }}">
        <table>
            <tr>
                <th>Libelle</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Choix</th>
            </tr>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.label }}</td>
                    <td>{{ produit.price }}€</td>
                    <td>{{ produit.stock }}</td>
                    <td>
                        <label>
                            <select {{ produit.stock == 0 ? 'disabled'  }} name="quantite[{{ produit.id }}]">
                                {% for i in 0..produit.getStock() %}
                                    <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <button type="submit">Ajouter au panier</button>
            <p><a href="{{ path("menu") }}" >Menu principal</a></p>
        </div>
    </form>
{% endblock %}
